{% extends "layout.html" %}
{% block image %}
    <div class="hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/dave_watson.jpg') }}');">
        <h1 style="color:white;">david watson</h1>
      <p style="color: white;">Constructing meaning from experience</p>
      </div>
<ul class="breadcrumb">
<li>David Watson</li> 
</ul>
{% endblock %}
      {% block body %}
    <div class="topbar">
    <div class="fill">
    <div class="container">
    <a class="brand" href="/">davidwatson.org</a>
    <ul class="nav">
    <li><a href="/ideas/">ideas</a></li>
    <li><a href="/sights/">sights</a></li>
    <li><a href="/sounds/">sounds</a></li>
    <li><a href="/software/">software</a></li>
    <li><a href="/about/">about</a></li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="menu">links</a>
              <ul class="menu-dropdown">
                <li><a href="https://gist.github.com/davidthewatson">gist</a></li>
		<li><a href="http://www.flickr.com/photos/davidwatson/">flickr</a></li>
                <li><a href="http://www.youtube.com/davidthewatson">youtube</a></li>
                <li><a href="https://github.com/davidthewatson/">github</a></li>
	      </ul>
            </li>
    
    </ul>
    <p style="float: right;"><span class="label">Contact</span> <a href="mailto:david@davidwatson.org">david@davidwatson.org</a></p>
    </div>
    </div>
     </div>
    <div class="row">
      <div class="span6 hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/ideas.jpg') }}');">
<h2 style="color:white;">ideas</h2>
	<p style="color: white;">Construct meaning from consciousness</p>
	<p><a class="btn large" href="/ideas/">ideas &raquo;</a></p>  
      </div>
      <div class="span6 hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/sights.jpg') }}');">
<h2 style="color:white;">sights</h2>
	<p style="color: white;">Construct meaning from perspective</p>
	<p><a class="btn large" href="/sights/">sights &raquo;</a></p>  
      </div>
      </div>
    <div class="row">
      <div class="span6 hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/sounds.jpg') }}');">
<h2 style="color:white;">sounds</h2>
	<p style="color: white;">Construct meaning from emotion</p>
	<p><a class="btn large" href="/sounds/">sounds &raquo;</a></p>  
      </div>
      <div class="span6 hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/software.jpg') }}');">
<h2 style="color:white;">software</h2>
	<p style="color: white;">Constructs meaning from logic</p>
	<p><a class="btn large" href="/software/">software &raquo;</a></p>  
      </div>
      </div>
	  
{% endblock %}
