{% extends "layout.html" %}
{% block image %}
    <div class="hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/dave_watson.jpg') }}');">
        <h1 style="color:white;">davidwatson.org</h1>
      <p style="color: white;">Constructing meaning from experience</p>
      </div>
<ul class="breadcrumb">
<li>davidwatson.org</li> 
</ul>
{% endblock %}
      {% block body %}
    <div class="topbar">
    <div class="fill">
    <div class="container">
    <a class="brand" href="/">davidwatson.org</a>
    <ul class="nav">
    <li><a href="/sights/">sights</a></li>
    <li><a href="/sounds/">sounds</a></li>
    <li><a href="/software/">software</a></li>
    <li><a href="/synchronicity/">synchronicity</a></li> 
    <li><a href="/soul/">soul</a></li>    
    </ul>
    <p style="float: right;"><span class="label">Contact</span> <a href="mailto:david@davidwatson.org">david@davidwatson.org</a></p>
    </div>
    </div>
     </div>
    <div class="row">
      <div class="span6 hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/sights.jpg') }}');">
	<a href="/sights/"> 
<h2 style="color:white;">sights</h2>
	<p style="color: white;">Constructing meaning from
    perspective</p>
	</a>
      </div>
      <div class="span6 hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/sounds.jpg') }}');">
	<a href="/sounds/"> 
<h2 style="color:white;">sounds</h2>
	<p style="color: white;">Constructing meaning from emotion</p>
	</a>
      </div>
      </div> 
     <div class="row"> 
      <div class="span6 hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/software.jpg') }}');">
	<a href="/software/"> 
	<h2 style="color:white;">software</h2>
	<p style="color: white;">Constructing meaning from logic</p>
	</a>
      </div>
      <div class="span6 hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/synchronicity.jpg') }}');">
	<a href="/synchronicity/"> 
	<h2 style="color:white;">synchronicity</h2>
	<p style="color: white;">Constructing meaning from coincidence</p>
	</a>
      </div>
      </div>	  
{% endblock %}
