<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ title }} davidwatson.org</title>
<meta name="description" content="The personal website of David Watson">
<meta name="author" content="David Watson">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/galleria/galleria-1.2.6.min.js"></script>
<script src="/static/galleria/galleria.classic.min.js"></script>
<script src="/static/galleria/galleria.flickr.min.js"></script>
<style type="text/css">
body {
padding-top: 60px;
}
</style>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
<div class="container">
  {% block image %}
  {% endblock %}
</div>
<div class="container">
<div class="row">
<div class="span16">
  {% block body %}
  {% endblock %}
  </div>
</div>
  <div class="hero-unit" style="margin-top: 20px; padding-top: 10px; padding-bottom: 0px;"> 
<div class="row">
<div class="span-one-third" style="width: 260px;">
  <p style="font-size: 100%; line-height: 150%;">My name is David Watson. I'm a creative person from a small
  town in Western Pennsylvania called Fallston. I went to school
  in the Beaver and New Brighton school districts before graduating from Duquesne University in Pittsburgh.</p>
</div>
<div class="span-one-third"  style="width: 260px;">
  <p style="font-size: 100%; line-height: 150%;">
  I met my wife, Wendy teaching
  at Mars High School where I taught the drum line and she taught the
  color guard. After graduation, we lived in Boston and Seattle before
  returning to the Pittsburgh area, where I earn my living making software.</p>
</div>
<div class="span-one-third"  style="width: 260px;">
  <p style="font-size: 100%; line-height: 150%;">This site chronicles my ideas, photographs, music, and
  technology. I hope you find something of value here. If you'd like to collaborate, please <a
  href="http://www.linkedin.com/in/davidthewatson">contact me on
  Linked In</a> or at the email address above. Thanks for visiting!</p>
</div>
</div>
</div>
  <footer>
<p style="float: left;"><b>&copy; David Watson
2011</b></p><p style="float: right;"><b>Powered by <a
href="http://twitter.github.com/bootstrap/">Bootstrap</a>, <a
href="http://flask.pocoo.org/">Flask</a>, <a
href="http://www.gevent.org/">Gevent</a>, <a href="https://github.com/">Github</a>, <a href="http://www.heroku.com/">Heroku</a>,
<a href="http://python.org/">Python</a>, and <a href="http://docs.python-requests.org/en/latest/index.html">Requests</a></b></p>
</footer>
</div>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4efdd96d613f5d7bc6000006');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
