{% extends "layout.html" %}
{% block image %}
    <div class="hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/sights.jpg') }}');">
        <h1 style="color:white;">sights</h1>
      <p style="color: white;">Constructing meaning from perspective</p>
      </div>
    <ul class="breadcrumb">
  <li><a href="/">davidwatson.org</a> <span class="divider">/</span></li>
  <li class="active">sights</li>
</ul>
    {% endblock %}
{% block body %}
    <div class="topbar">
    <div class="fill">
    <div class="container">
    <a class="brand" href="/">davidwatson.org</a>
    <ul class="nav">
    <li><a href="/synchronicity/">synchronicity</a></li>      
    <li class="active"><a href="/sights/">sights</a></li>
    <li><a href="/sounds/">sounds</a></li>
    <li><a href="/software/">software</a></li>
    <li><a href="/self/">self</a></li>
    </ul>
        <p style="float: right;"><span class="label">Contact</span> <a href="mailto:david@davidwatson.org">david@davidwatson.org</a></p>
    </div>
    </div>
    </div>
  <div class="row">
    <div class="span16">
<div id="galleria" style="height:705px; width:940px;">
</div>
    </div>
</div>
<script>
$('#galleria').galleria({
    flickr: 'set:72157628525541961',
    flickrOptions: {
        sort: 'interestingness-asc',
        description: true,
        max: 100
    }
});
</script>

{% endblock %}
