{% extends "layout.html" %}
{% block image %}
    <div class="hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/sights.jpg') }}');">
        <h1 style="color:white;">sights</h1>
      <p style="color: white;">Construct meaning from perspective</p>
      </div>
    <ul class="breadcrumb">
  <li><a href="/">David Watson</a> <span class="divider">/</span></li>
  <li class="active">Sights</li>
</ul>
    {% endblock %}
{% block body %}
    <div class="topbar">
    <div class="fill">
    <div class="container">
    <a class="brand" href="/">davidwatson.org</a>
    <ul class="nav">
    <li><a href="/ideas/">ideas</a></li>      
    <li class="active"><a href="/sights/">sights</a></li>
    <li><a href="/sounds/">sounds</a></li>
    <li><a href="/software/">software</a></li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="menu">links</a>
              <ul class="menu-dropdown">
                <li><a href="https://gist.github.com/davidthewatson">gist</a></li>
		<li><a href="http://www.flickr.com/photos/davidwatson/">flickr</a></li>
                <li><a href="http://www.youtube.com/davidthewatson">youtube</a></li>
                <li><a href="https://github.com/davidthewatson/">github</a></li>
	      </ul>
            </li>    
    </ul>
        <p style="float: right;"><span class="label">Contact</span> <a href="mailto:davidthewatson@gmail.com">davidthewatson@gmail.com</a></p>
    </div>
    </div>
    </div>
  <div class="row">
    <div class="span16">
<object type="text/html" data="http://www.flickr.com/slideShow/index.gne?group_id=&user_id=56656528@N00&set_id=72157627023466056&text=" width="940" height="705"></object>
    </div>
</div>
{% endblock %}
