{% extends "layout.html" %}
{% block image %}
    <div class="hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/sounds.jpg') }}');">
        <h1 style="color:white;">sounds</h1>
      <p style="color: white;">Construct meaning from emotion</p>
      </div>
    <ul class="breadcrumb">
  <li><a href="/">David Watson</a> <span class="divider">/</span></li>
  <li class="active">Sounds</li>
</ul>
    {% endblock %}
{% block body %}
    <div class="topbar">
    <div class="fill">
    <div class="container">
    <a class="brand" href="/">davidwatson.org</a>
    <ul class="nav">
    <li><a href="/ideas/">ideas</a></li>      
    <li><a href="/sights/">sights</a></li>
    <li class="active"><a href="/sounds/">sounds</a></li>
    <li><a href="/software/">software</a></li>
    <li><a href="/about/">about</a></li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="menu">links</a>
              <ul class="menu-dropdown">
                <li><a href="https://gist.github.com/davidthewatson">gist</a></li>
		<li><a href="http://www.flickr.com/photos/davidwatson/">flickr</a></li>
                <li><a href="http://www.youtube.com/davidthewatson">youtube</a></li>
                <li><a href="https://github.com/davidthewatson/">github</a></li>
	      </ul>
            </li>
  </ul>
        <p style="float: right;"><span class="label">Contact</span> <a href="mailto:david@davidwatson.org">david@davidwatson.org</a></p>
     </div>
    </div>
    </div>
    <div class="container">
  <div class="row">
<div class="span16">
<iframe width="940" height="705" src="http://www.youtube.com/embed/videoseries?list=PLABB3EE027E5E093F&amp;hl=en_US&amp;hd=1" frameborder="0" allowfullscreen></iframe>
</div>
  </div>
  </div>
{% endblock %}
