{% extends "layout.html" %}
{% block image %}
    <div class="hero-unit"
      style="background-image:url('{{ url_for('static',
      filename='img/sounds.jpg') }}');">
        <h1 style="color:white;">sounds</h1>
      <p style="color: white;">Construct meaning from emotion</p>
      </div>
    <ul class="breadcrumb">
  <li><a href="/">David Watson</a> <span class="divider">/</span></li>
  <li class="active">Sounds</li>
</ul>
    {% endblock %}
{% block body %}
    <div class="topbar">
    <div class="fill">
    <div class="container">
    <a class="brand" href="/">davidwatson.org</a>
    <ul class="nav">
    <li><a href="/ideas/">ideas</a></li>      
    <li><a href="/sights/">sights</a></li>
    <li class="active"><a href="/sounds/">sounds</a></li>
    <li><a href="/software/">software</a></li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="menu">links</a>
              <ul class="menu-dropdown">
                <li><a href="https://gist.github.com/davidthewatson">gist</a></li>
		<li><a href="http://www.flickr.com/photos/davidwatson/">flickr</a></li>
                <li><a href="http://www.youtube.com/davidthewatson">youtube</a></li>
                <li><a href="https://github.com/davidthewatson/">github</a></li>
	      </ul>
            </li>
  </ul>
        <p style="float: right;"><span class="label">Contact</span> <a href="mailto:davidthewatson@gmail.com">davidthewatson@gmail.com</a></p>
     </div>
    </div>
    </div>
    <div class="container" style="margin-left: 20px;">
<div class="row">
<div class="span16">
</div>
</div>
  <div class="row">
    <div class="span8">
<iframe width="420" height="315" src="http://www.youtube.com/embed/5VceQlE2rWM" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span8">
<iframe width="420" height="315" src="http://www.youtube.com/embed/XcQb4q5WPu4" frameborder="0" allowfullscreen></iframe>
      </div>
</div>
<div class="row">
  <div class="span8">
    <iframe width="420" height="315"
    src="http://www.youtube.com/embed/Is2-DXiuzAM" frameborder="0"
    allowfullscreen></iframe>
    </div>
    <div class="span8">
<iframe width="420" height="315" src="http://www.youtube.com/embed/_Elp04mpYzc" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    </div>
{% endblock %}
